<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WriteUs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/337a175665.js" crossorigin="anonymous"></script>
    <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'jquery.fullPage.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>