{% extends 'base.html' %}
{% block content %}

{% load static %}

<div class="create-page">
    <div class="texts2"><img src="{% static 'texts2.png' %}" style="float: right; position:absolute; width:180vw; height:40vw; top: -7vw; right: -57vw;"></div>
    <div class="paper"><img src="{% static 'paper.png' %}" style="float: right; position:absolute; width:100vw; height:100vh; bottom: 0vw; right: 0vw;"></div>

    <div class="output-wrap">
        <span>{{novel.body}}</span>
        <span class="novel-text">{{novel.tmp_body}}</span>
        <span class="typing"></span>
    </div>

    <div class="input-wrap">
        <form action="{%url 'create' novel.id %}" method="POST">
            {%csrf_token%}
            <input class="input-sentence" name="body" id="body" type="text" autocomplete="off"/>
        </form>
    </div>
</div>

<script type="text/javascript">
    var typingTxt = $(".novel-text").text();
    const text = document.querySelector(".typing");
    let i = 0;
    function typing(){
        if (i < typingTxt.length) {
            let txt = typingTxt.charAt(i);
            text.innerHTML += txt;
            i++;
        }
    }
    setInterval(typing, 50)
</script>

{% endblock %}